
<mat-card class="book-table-item">

  <img mat-card-image src="{{book?.image}}" alt="{{book?.title}}">
  <mat-card-content>{{book?.title}}</mat-card-content>
  <mat-card-footer class="book-table-item-footer">
    <button mat-raised-button color="primary" (click)="addToFavorites(book)" *ngIf="!isFavorite">Add to favorites</button>
    <button mat-fab color="warn" aria-label="Delete favorite" *ngIf="isFavorite" (click)="onDelete(book)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
